# These owners will be the default owners for everything in the repo. Unless a later match takes precedence. 
# Order is important; the last matching pattern takes the most precedence. To understand more about CODEOWNERS syntax access here 
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

@vtex/payments